@import "tailwindcss";
@plugin "daisyui";
:root {
 
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    
    --foreground: #ededed;
  }
}

body {
 color:rgb(var(--foreground-rgb));
 
}

@layer base{
  h1 {
    @apply font-extrabold text-2xl mb-3
  }
}

/* the above code works for html elements it will apply for all */
